{header}
<title>{repo|escape}: {file|escape}@{node|short}</title>
    <link rel="alternate" type="application/atom+xml" href="{url}atom-log" title="Atom feed for {repo|escape}"/>
    <link rel="alternate" type="application/rss+xml" href="{url}rss-log" title="RSS feed for {repo|escape}"/>

    <script type="text/javascript" src="http://example.com/prettify/scripts/all.min.js"></script>

    <!-- Include *at least* the core style and default theme -->
    <link href="http://example.com/prettify/styles/shCore.css" rel="stylesheet" type="text/css" />
    <link href="http://example.com/prettify/styles/shThemeDefault.css" rel="stylesheet" type="text/css" />
    <link href="http://example.com/prettify/styles/shThemeMidnight.css" rel="stylesheet" type="text/css" />

</head>

<body>
<div id="container">
    <div class="page-header">
        <h1><a href="{url}summary{sessionvars%urlparameter}">{repo|escape}</a> / file revision</h1>

        <form action="{url}log">
            {sessionvars%hiddenformentry}
            <dl class="search">
                <dt><label>Search: </label></dt>
                <dd><input type="text" name="rev" /></dd>
            </dl>
        </form>

        <ul class="page-nav">
            <li><a href="{url}summary{sessionvars%urlparameter}">summary</a></li>
            <li><a href="{url}shortlog{sessionvars%urlparameter}">shortlog</a></li>
            <li><a href="{url}changelog{sessionvars%urlparameter}">changelog</a></li>
            <li><a href="{url}graph/{node|short}{sessionvars%urlparameter}">graph</a></li>
            <li><a href="{url}tags{sessionvars%urlparameter}">tags</a></li>
            <li><a href="{url}bookmarks{sessionvars%urlparameter}">bookmarks</a></li>
            <li><a href="{url}branches{sessionvars%urlparameter}">branches</a></li>
            <li><a href="{url}file/{node|short}{path|urlescape}{sessionvars%urlparameter}">files</a></li>
            <li><a href="{url}help{sessionvars%urlparameter}">help</a></li>
        </ul>
    </div>

    <ul class="submenu">
        <li class="current">file</li>
        <li><a href="{url}log/{node|short}/{file|urlescape}{sessionvars%urlparameter}">revisions</a></li>
        <li><a href="{url}annotate/{node|short}/{file|urlescape}{sessionvars%urlparameter}">annotate</a></li>
        <li><a href="{url}diff/{node|short}/{file|urlescape}{sessionvars%urlparameter}">diff</a></li>
        <li><a href="{url}raw-file/{node|short}/{file|urlescape}">raw</a></li>
    </ul>

    <h2 class="no-link no-border">{file|escape}@{node|short}</h2>
    <h3 class="changeset">{file|escape}</h3>
    <p class="changeset-age age">{date|rfc822date}</p>

    <dl class="overview">
        <dt>author</dt>
        <dd>{author|obfuscate}</dd>
        <dt>date</dt>
        <dd>{date|rfc822date}</dd>
        {branch%filerevbranch}
        <dt>changeset {rev}</dt>
        <dd><a class="list" href="{url}rev/{node|short}{sessionvars%urlparameter}">{node|short}</a></dd>
        {parent%filerevparent}
        {child%filerevchild}
        <dt>permissions</dt>
        <dd>{permissions|permissions}</dd>
    </dl>

    <p class="description">{desc|strip|escape|addbreaks|nonempty}</p>

    <div class="source">

        <script type="text/javascript">
            var filename = "{file}";
            var ext = filename.substring(filename.lastIndexOf('.')+1);

            switch (ext) {
                case 'php':
                case 'module':
                case 'inc':
                case 'install':
                    ext = 'php';
                    break;
                case 'info':
                    ext = 'plain';
                    break;
                case 'sh':
                    ext = 'bash';
                    break;
                case 'c':
                case 'cc':
                case 'cpp':
                    ext = 'cpp';
                    break;
                case 'js':
                case 'erl':
                case 'cs':
                case 'css':
                case 'diff':
                case 'java':
                case 'pl':
                case 'py':
                case 'rb':
                case 'sql':
                case 'vb':
                case 'xml':
                    break;

                default:
                    ext = 'plain';
                }

            document.write('<pre class="brush: ' + ext + '">\n');
        </script>

    {text%fileline}
        </pre>

        <script type="text/javascript">
            SyntaxHighlighter.all();
        </script>
    </div>

{footer}
